html{
	width: 100%;
	height: 100%;
	position: relative;
	
}
body{
	width: 100%;
	height: 100%;
	position: relative;
}
img{
	display: block;
	width: 100%;
}
.page{
	width: 100%;
	height: 100%;
	/*position: relative;*/

}
.page .content{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	margin: auto;
	/*background: url(../img/bg.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%*/
}
.page .content .bg{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -10;
}
.page .content .bg img{
	width: 100%;
	height: 100%;
}
.page .content .logo{
	width: 24%;
	position: absolute;
	top: 4%;
	left: 0;
	right: 0;
	margin: auto;
}
.page .yinyue{
	position: absolute;
	width: 16%;
	/*height: 10%;*/
	right: 3%;
	animation: yinyue 2s linear infinite;
}
@-moz-keyframes yinyue{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
@-ms-keyframes yinyue{
	from{
		transform: rotate(0deg);
		
	}
	to{
		transform: rotate(360deg);
	}
}
@-webkit-keyframes yinyue{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
@keyframes yinyue{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
form{
	width: 84%;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 18%;
}
form div{
	width: 100%;
	margin-top: 5%;
	height: 20%;
	/*height: 30px;*/
}
form div span{
	width: 24%;
	display: inline-block;
	text-align: right;
	font-size: 4vw;
	font-weight: bold;
	color: white;
}
form div input,form div select{
	width: 70%;
	border:none;
	/*height: 20%;*/
	height: 8vw;
	line-height: 8vw;
	/*color: white;*/
	background-color:#c0daf1;
	color: white;
	font-size: 4vw;
	
}
form div input{
	background: url(../img/arr.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
form div select{
	background: url(../img/arrow.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	/*color: #778197;*/
	font-size: 4vw;
	font-weight: bold;
}
input select{
	color: white;
}
.submit{
	position: relative;
	width: 36%;
	margin: 10% auto;
}
.submit .label{
	width: 70%;
	position: absolute;
}
.submit #submitBtm{
	display: none;
}
.page .popup{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: rgba(0,0,0,0.4);
}
.page .popup .popupcontent{
	width: 74%;
	position: absolute;
	/*top: 0;*/
	right: 0%;
	left: 0%;
	/*bottom: 0;*/
	margin: auto;
	top: 36%;
}
.hidden{
	display: none;
}
